{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/dash_script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}

{% block title %}Synapse-Dashboard{% endblock %}

{% block content %}
<body >
    <h1>Dashboard</H1>
    <h2 id="device">Selected Device: all</h2>
    <button class="btn btn-primary btn-md" onclick="myFunction2('rain')">Rain</button>
    <button class="btn btn-primary btn-md" onclick="myFunction2('cloud')">Cloud</button>
    <button class="btn btn-primary btn-md" onclick="myFunction2('loud')">Loud</button>
    <button class="btn btn-primary btn-md" onclick="myFunction2('mute')">Mute</button>
    </br></br></br>
    {% comment %} <button onclick="getDevices()">Device_List</button> {% endcomment %}
    <p>Connected Devices:</p>
    <ul id="list">
        {% for device in devices %}
            {% if device != 'web' %}
                <button class="btn btn-primary btn-md " onclick=testMsg("{{device}}")> {{device}}</button>
            {% endif %}
        {% endfor%}
    </ul>
  
</body>
{% endblock %}