{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}

{% block title %}Synapse-Home{% endblock %}

{% block content %}
<div class="container px-8 text-center">
    <h1>Home control</H1>
    <h2>Foyer Carolers</H2>
    <h6 id="weather">{{condition}}</H6>
    <div class="row gx-5">
        <div class="col-4 px-3 gx-5">
            <button class="btn btn-primary btn-md" onclick="myFunction('rain', 'foyer')">Rain</button>
        </div>
        <div class="col-4 px-3 gx-5">
            <button class="btn btn-primary btn-md" onclick="myFunction('cloud', 'foyer')">Cloud</button>
        </div>
    </div>
    </br></br>
    <h6 id="monStat">{{monisOn}}</H6>
    <div class="row gx-5">
        <div class="col-4 px-3 gx-5">
            <button class="btn btn-primary btn-md" onclick="myFunction('mon', 'foyer')">On</button>
        </div>
        <div class="col-4 px-3 gx-5">    
            <button class="btn btn-primary btn-md" onclick="myFunction('moff', 'foyer')">Off</button>
        </div>
    </div>
    </br></br>
    <div class="row gx-5">
        <h2>Living Room Tree</H2>
        <div class="col-4 px-3 gx-5">
            <button class="btn btn-primary btn-md" onclick="myFunction('rain', 'lvtree')">Rain</button>
        </div>
        <div class="col-4 px-3 gx-5">
            <button class="btn btn-primary btn-md" onclick="myFunction('cloud', 'lvtree')">Cloud</button>
        </div>
    </div>
    </br></br></br>
    <div class="row gx-5">
        <div class="col-4">
            <button class="btn btn-primary btn-md" onclick="myFunction('mon', 'lvtree')">On</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-md" onclick="myFunction('moff', 'lvtree')">Off</button>
        </div>
    </div>
</div>  
{% endblock %}