{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}

{% block title %}Synapse-Remote{% endblock %}

{% block content %}
    <div class="container px-8 text-center">
        <h1>Holiday Remote</H1>
        <h6>Settings</H6>
        <button class="btn btn-primary btn-md" onclick="myFunction('init', 'remote')">Init</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('loud', 'remote')">Loud</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('mute', 'remote')">Mute</button>
        </br></br></br>
        <h6>Videos</H6>
        <button class="btn btn-primary btn-md" onclick="myFunction('grinch', 'remote')">Grinch</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('snowman', 'remote')">Snowman</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('vader', 'remote')">Vader</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('carol', 'remote')">Carol</button>
        </br></br>
        <button class="btn btn-primary btn-md" onclick="myFunction('polar', 'remote')">Poal</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('polar2', 'remote')">Polar2</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('what', 'remote')">What</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('claws', 'remote')">Claws</button>
        </br></br>
        <button class="btn btn-primary btn-md" onclick="myFunction('random', 'remote')">Random</button>
        </br></br></br>
        <h6>Icons</H6>
        <button class="btn btn-primary btn-md" onclick="myFunction('wreath', 'remote')">Wreath</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('ball', 'remote')">Ball</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('ghost', 'remote')">Ghost</button>
        </br></br>
        <button class="btn btn-primary btn-md" onclick="myFunction('snowflake', 'remote')">Snowflake</button>
        <button class="btn btn-primary btn-md" onclick="myFunction('pumpkin', 'remote')">Pumpkin</button>
        </br></br></br>
        <button class="btn btn-primary btn-md" onclick="myFunction('kill', 'remote')">Killswitch</button>
    </div>
{% endblock %}